<div class="modal-header">
    <h3 class="modal-title">Reset Password</h3>
</div>
<div class="modal-body">
    <form class="form-inline">
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ng-model="password"/>
    </div>
        <div class="form-group">

            <label for="confimPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confimPassword" ng-model="confirmPassword" />

        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="okIsDisabled()" ng-click="modalOk()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="modalCancel()">Cancel</button>
</div>
