<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Set Password</h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Close" ng-click="cancel()">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="password"/>
                </md-input-container>
                <md-input-container>
                    <label>Confirm Password</label>
                    <input type="password" ng-model="confirmPassword"/>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout>
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="modalOk()" aria-label="Ok" ng-disabled="okIsDisabled()">Ok</md-button>
            <md-button class="md-raised md-default" ng-click="modalCancel()" aria-label="Cancel">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
