<div layout>
    <md-input-container>
        <label>Username</label>
        <input ng-model="e.userName"/>
    </md-input-container>
</div>
<div layout>
    <md-input-container>
        <label>Email</label>
        <input ng-model="e.email"/>
    </md-input-container>
</div>
<div layout>
    <md-input-container>
        <md-checkbox ng-model="e.isAdmin">Administrator</md-checkbox>
    </md-input-container>
</div>
<div layout>
        <md-button class="md-raised md-warn" ng-click="changePassword()">Set Password</md-button>
</div>
<div layout>
    <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
    <md-button class="md-raised md-default" ng-click="cancel()">Cancel</md-button>
</div>

