<div class="container" role="main">
    <div class="row">
        <div class="col-sm-6">
            Name
            <input class="form-control" type="text" ng-model="e.userName" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Leader
            <input class="form-control" type="text" ng-model="e.email" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="e.isAdmin"/> Administrator
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>