<div class="md-whiteframe-z1" flex="50">
    <md-toolbar class="j-header md-primary" flex="100">
        <div class="md-toolbar-tools">
            <h3>Community Groups</h3>
        </div>
    </md-toolbar>
    <div layout>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Leader</th>
                <th>Name</th>
                <th>Last Report</th>
                <th>Attendance</th>
                <th>2M Avg Attenendance</th>
                <th>Neighborhood</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="g in groups">
                    <td style="padding-right: 5px">
                        <md-icon ng-click="addReport(g.groupId)">group_add</md-icon>
                        <md-icon ng-click="">edit</md-icon>
                    </td>
                    <td><a href="/leaders/{{g.leaderId}}">{{g.leader}}</a></td>
                    <td>{{g.groupName}}</td>
                    <td><a href="/reports/{{g.lastReportId}}">{{g.lastReportDate}}</a></td>
                    <td>{{g.lastAttendance}}</td>
                    <td>{{g.avgAttendance}}</td>
                    <td>{{g.neighborhood}}</td>
                    <!--<td><md-button class="md-primary" ng-click="editGroup(g)">{{g.name}}</md-button></td>
                    <td><md-button class="md-raised" ng-click="addReport(g.id)"><i class="fa fa-plus"></i> Report</md-button></td>-->
                </tr>
            <tr ng-if="groups.length == 0">
                <td>No groups!</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div layout>
        <md-button class="md-raised md-primary" ng-click="newGroup()"><i class="fa fa-plus"></i> Group</md-button>
    </div>

</div>
