<div class="md-whiteframe-z1" flex="50">
    <md-toolbar class="j-header md-primary" flex="100">
        <div class="md-toolbar-tools">
            <h3>Community Groups</h3>
        </div>
    </md-toolbar>
    <div layout>
        <table>
            <thead>
            <tr>
                <th>Group</th>
                <th>Leader</th>
                <th>Last Report</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="g in groups">
                <td><md-button class="md-primary" ng-click="editGroup(g)">{{g.name}}</md-button></td>
                <td>{{g.leader}}</td>
                <td></td>
                <td><md-button class="md-raised" ng-click="addReport(g.id)"><i class="fa fa-plus"></i> Report</md-button></td>
            </tr>
            <tr ng-if="groups.length == 0">
                <td>None</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div layout>
        <md-button class="md-raised md-primary" ng-click="newGroup()"><i class="fa fa-plus"></i> Group</md-button>
    </div>

</div>
