<div class="md-inline-form">
    <div layout ng-if="e.id === 0">
        <h1>New Community Group</h1>
    </div>
    <div layout>
        <md-input-container>
            <label>Name</label>
            <input ng-model="e.name"/>
        </md-input-container>
    </div>
    <div layout>
        <md-input-container>
            <label>Leader</label>
            <input ng-model="e.leader" />
        </md-input-container>
    </div>
    <div layout>
        <md-input-container>
            <label>Meets On</label>
            <md-select ng-model="e.meetsOn">
                <md-option ng-repeat="d in daysOfWeek" value="{{d.Id}}">{{d.Name}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout>
        <md-input-container>
            <label>Meets At</label>
            <input ng-model="e.meetsAt" />
        </md-input-container>
    </div>
    <div layout>
        <md-input-container class="md-block">
            <label>Notes</label>
            <textarea ng-model="e.notes"></textarea>
        </md-input-container>
    </div>

    <div layout>
        <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
        <md-button class="md-raised md-default" ng-click="cancel()">Cancel</md-button>
    </div>
</div>