<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body ng-controller="ctrl">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Done</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="t in todos">
                <td>{{t.id}}</td>
                <td ng-click="openEdit(t)" ng-show="!t.isEditing">{{t.title}}</td>
                <td ng-show="t.isEditing">
                    <input type="text" ng-model="t.title" />
                    <i style="padding: 10px;" class="fa fa-save" ng-click="saveEdit(t)"></i>
                    <i style="padding: 10px;" class="fa fa-close" ng-click="cancelEdit(t)"></i>
                </td>
                <td><i class="fa" ng-class="{'fa-square-o': !t.isDone, 'fa-check-square-o': t.isDone}" ng-click="toggleDone(t)"></i></td>
                <td><i class="fa fa-ban" ng-show="t.isDone" ng-click="remove(t)"></i></td>
            </tr>
            <tr ng-if="todos.length == 0">
                <td>None</td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td ng-show="!showNewTodo">
                <i class="fa fa-plus" ng-click="add()"></i>
            </td>
            <td ng-show="showNewTodo">
                <input type="text" ng-model="n.title" />
                <i style="padding: 10px;" class="fa fa-save" ng-click="saveNew()"></i>
                <i style="padding: 10px;" class="fa fa-close" ng-click="cancelNew()"></i>
            </td>
        </tr>
    </table>
    <script src="/lib/angularjs/angular.min.js"></script>
    <script src="/lib/angular-route/angular-route.min.js"></script>
    <script src="/lib/angular-resource/angular-resource.min.js"></script>
    <script>
        var app = angular.module('app', ['ngRoute', 'ngResource']);

        app.factory('ttt', function ($resource) {
            return $resource('/api/todo/:id', { id: '@id' }, { 'update': { method: 'PUT' } }
            );
        });

        app.controller('ctrl', function ($scope, ttt) {

            $scope.saveNew = function () {
                var entry = new ttt();
                angular.extend(entry, $scope.n);
                entry.$save().then(function (data) {
                    $scope.todos.push(data);
                    $scope.cancelNew();
                });
            };

            $scope.cancelNew = function () {
                $scope.showNewTodo = false;
            };

            $scope.saveEdit = function (t) {
                t.$update().then(function () {
                    t.isEditing = false;
                });
            };

            $scope.cancelEdit = function (t) {
                t.title = t.previousTitle;
                t.isEditing = false;
            };

            $scope.openEdit = function (t) {
                t.previousTitle = t.title;
                t.isEditing = true;
            };

            $scope.add = function () {
                $scope.n = { title: '' };
                $scope.showNewTodo = true;
            };

            $scope.remove = function (t) {
                t.$delete().then(function () {
                    var index = $scope.todos.indexOf(t);
                    $scope.todos.splice(index, 1);
                });
            }

            $scope.toggleDone = function (t) {
                t.isDone = !t.isDone;
                t.$update();
            }

            ttt.query().$promise.then(function (data) {
                $scope.todos = data;
            });
        });
    </script>
</body>
</html>