<div class="container" role="main">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Leader</th>
                <th>Meets On</th>
                <th>Meets At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="g in groups">
                <td>{{g.id}}</td>
                <td ng-click="editGroup(g)">{{g.name}}</td>
                <td>{{g.leader}}</td>
                <td>{{dayOfWeekName(g.meetsOn)}}</td>
                <td>{{g.meetsAt | date : 'shortTime' }}</td>
            </tr>
            <tr ng-if="groups.length == 0">
                <td>None</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-condensed">
        <tr>
            <td ng-show="!showNew">
                <i class="fa fa-plus fa-2x" ng-click="add()"></i>
            </td>
            <td ng-show="showNew">
                <input type="text" ng-model="n.name" class="form-control" style="width: 200px"/>
                <input type="text" ng-model="n.leader" class="form-control" style="width: 200px"/>
                <select ng-options="o.Id as o.Name for o in daysOfWeek" ng-model="n.meetsOn"></select>
                <i style="padding: 10px;" class="fa fa-save fa-2x" ng-click="saveNew()"></i>
                <i style="padding: 10px;" class="fa fa-close fa-2x" ng-click="cancelNew()"></i>
            </td>
        </tr>
    </table>
</div>