<div class="container" role="main">
    <div class="col-sm-12">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Group</th>
                    <th>Leader</th>
                    <th>Last Report</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="g in groups" ng-click="editGroup(g)">
                    <td><button type="button" class="btn btn-link">{{g.name}}</button></td>
                    <td>{{g.leader}}</td>
                    <td></td>
                </tr>
                <tr ng-if="groups.length == 0">
                    <td>None</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        <button type="button" class="btn btn-default" ng-click="newGroup()"><i class="fa fa-plus fa-2x"></i></button>
    </div>

</div>