<div>
    <div layout>
        <h1>Add Meeting Report</h1>
    </div>
    <div layout>
        <md-input-container>
            <label>Attendance</label>
            <input ng-model="e.attendance">
        </md-input-container>
    </div>
    <div layout>
        <md-input-container>
            <label>Notes</label>
            <textarea ng-model="e.notes" class="md-block"></textarea>
        </md-input-container>
    </div>
    <div layout>
        <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
        <md-button class="md-raised md-default" ng-click="cancel()">Cancel</md-button>
    </div>
    <div layout>
        <p>Previous Reports for {{group.name}}
    </div>
</div>
<div layout>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Attendance</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in reports">
                <td>{{r.metOn}}</td>
                <td>{{r.attendance}}</td>
            </tr>
        </tbody>
    </table>
</div>
